#define BUTTON_PIN D4
#define NUM_BMP280 7

#define I2C_DISPLAY 7
#define I2C_ADDR_MULTIPLEXER 0x70

#define TIME_SECOND_MS 1000

#define HOSTNAME "ESP-LaserPressure"

#define WIFI_SSID "-----"
#define WIFI_PASSWORD "-----"

#define OTA_PASSWORD "-------"

#define MQTT_HOST "mqtt.core.bckspc.de"
#define MQTT_PORT 1883

#define MQTT_TOPIC_STATE "state/laser/sensor"
#define MQTT_TOPIC_LASER_OPERATION "project/laser/operation"
#define MQTT_TOPIC_SENSOR_BASE "project/laser/sensor"

#define SENSOR_POLL_INTERVAL_INACTIVE_MS (30 * TIME_SECOND_MS)
#define SENSOR_POLL_INTERVAL_ACTIVE_MS  TIME_SECOND_MS
#define LASER_ACTIVE_TIMEOUT_MS (90 * TIME_SECONDS_MS)
